body {
    background-color: rgba(95, 158, 160, 0.705);
    font-family: arial, sans-serif;
}
p{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size:medium;
    color:rgb(6, 41, 6);
}
h2 {
    font-size: medium;
    font-weight: normal;
    color:rgb(6, 41, 6);
}
a {
    text-decoration: none;
    color: rgb(119, 62, 100);
}
.profile-page {
    width: 300px;
    background-color: lightgrey;
    padding: 20px;
    margin-top: 100px;
    text-align: center;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.profile-image {
    max-width: 100%;
    border-radius: 10px;
}
